/*new part*/
.header_left{
  white-space: pre-line
}

.tt{
  white-space: pre-line
}

/*font Part*/
header {
  font-family: 'Nanum Brush Script', cursive;
  font-size: 30px;
}
footer {
  font-family: 'Nanum Brush Script', cursive;
  font-size: 20px;
}
main {
  font-family: 'Nanum Brush Script', cursive;
  font-size: 20px;
}

/* 전체적용 */
*{
  margin: 2px;
  padding: 2px;
}

/* 레이아웃 */
nav {
  background-color: #0B0A0A;
  padding: 12px;
  display: flex;
  justify-content: space-between;
  color: rgb(240, 248, 255);
  height: 40px;
    
}

nav > ul{
  display: flex;
  list-style: none;
}



header {
  background-color: #53EAD4;
}

header > section {
  display: flex;
  margin: 2px;
  font-size: 30px;
}

.header_left {
  width: 30%;
  text-align: center;
  font-size: 40px;

}

.header_right{
  width: 70%;
  font-size: 1em;
}

main {
  background-color: #00C5F2;
  display: flex;
  /*flex-wrap: wrap;*/
  
}

main > section {
  width: 25%;
  margin: 20px;
  text-align: center;
 
}

footer {
  background-color: #FF8749;
  display: flex;
  padding: 3px;
  margin: 2px;
  
}

footer > h2, footer > ul {
  margin: 15px;
  
}

img {
  border-radius: 35%;
}

nav  a { 
  text-decoration: none;
  color: azure;
  padding: 8px;
}

nav a:hover{
  background-color: #FF8749;
  color: darkblue;
}

@media only screen and (max-width:600px) {
  header > section  {
    flex-direction: column;
    align-items: center;
  }

.header_left, .header_right {
  width: 80%;
}

main {
  flex-direction: column;
  align-items: center;
}
main > section {
  width: 100%;
  margin: 0px;
  text-align: center;
}
nav {
  top: 0px;
  position: sticky;
}
footer {
  bottom: 0px;
  position: sticky;
}
footer > ul {
  display: none;
}
}